---
import {Jsona} from "jsona";
import {DrupalJsonApiParams} from "drupal-jsonapi-params";
import type {TJsonApiBody} from "jsona/lib/JsonaTypes";

import type {DrupalNode} from "../../types";
import {getArticles} from "../../api/drupal";

import { Debug } from 'astro:components'; // DELETEME

// Get the Drupal Base Url.
export const baseUrl: string = import.meta.env.DRUPAL_BASE_URL;
// Get all published articles.
export async function getStaticPaths() {
    const articles = await getArticles();

    return articles.map((article: DrupalNode) => {
     
console.clear();
 console.log(article) 
        return {
            params: {
                // Choose `path` to match the `[path]` routing value
                path: article.path.alias.split('/')[2]
            },
            props: {
                title: article.title,
                image: baseUrl + article.field_media_image.field_media_image.uri.url,
                imageMeta: article.field_media_image.field_media_image.resourceIdObjMeta,
                body: article.body,
                img: baseUrl ,
                date: new Date(article.created).toLocaleDateString('en-EN', {
                    day: "numeric",
                    month: "long",
                    year: "numeric"
                })
            }
        }
    });
}

const {title, image, imageMeta, date, body} = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <time>{date}</time>
    IMAGE META --><Debug imageMeta={imageMeta} />
    <div>
    IMAGE PATH -->{image}
    <br>
    IMAGE ALT -->{imageMeta.alt}
    </div>
    <div>
      <img src={image} alt={imageMeta.alt} title={imageMeta.title} width={imageMeta.width} height={imageMeta.height} />
    </div>
    <article set:html={body.value} />
  </body>
</html>
